.big3 {
  height: 80rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(7, 23, 128);
  flex-direction: row;

  background-image: url("https://images.unsplash.com/photo-1580261450046-d0a30080dc9b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGd5bXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  width: 100%;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35rem;
  width: 50rem;
  background-color: aqua;
}
.card2 {
  border: 1px solid rgb(220, 0, 0);
  border-radius: 0.5rem;
  height: 25rem;
  width: 25rem;
  background-color: gold;
  margin-right: 5rem;
}

.form-group2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  background-color: chartreuse;
}

.form-group2 > label {
  font-weight: bold;
  font-size: 0.8em;
  color: rgb(91, 1, 1);
}

.form-group2 > input {
  border: 3px solid rgb(133, 1, 1);
  border-radius: 0.25em;
  font-size: 1rem;
  padding: 0.25em;
}

.step-title {
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
}
