.pr1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: red;
  height: 270vh;
  width: 100%;
}

.programme {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  height: 78rem;
  background-color: yellow;

  gap: 2rem;
  margin-bottom: 20rem;
}

.singleprogramme {
  width: 25rem;
  height: 30rem;
  margin: 10;
  padding: 22;
  background-color: rgb(13, 191, 0);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  

 
  border-radius: 4px;
  padding: 0 16px;
  cursor: pointer;
  transition: all 0.9s ease-in-out;
}
.singleprogramme:hover {
  border: solid #ff0000 0.2rem;
  
}
.singleprogramme:active {
  transform: scale(0.3);
}


.singleprogramme>p{
    font-size: 1rem;
    color: #ffffff;
}

.title {
  border-bottom: solid #ff0000 0.3rem;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4rem;
}

.btn{
    padding: 20px;
    background: red;
    color: white;
    border: 1px solid #000;
    cursor: pointer;
    transition: 0.5s all ease-in-out;


}
.btn:hover{
    background: black;
    color: rgb(167, 0, 0);
    border:solid 5px #ff0000;


}
