.pr1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: red;
  height: 170vh;
  width: 100%;
  background-image: url('https://previews.123rf.com/images/eireen/eireen1510/eireen151000010/47671172-vector-grunge-illustration-de-la-main-avec-halt%C3%A8res-et-expression-de-motivation-no-pain-no-gain-fitn.jpg');
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  





}

.programme {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  height: 58rem;
  

  gap: 2rem;
  
}

.singleprogramme {
  width: 23rem;
  height: 30rem;
  margin: 10;
  padding: 22;
background-color: silver;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.2), 0 6px 20px 0 rgb(255, 0, 0);
 
  border-radius: 1rem;
  padding: 0 16px;
  cursor: pointer;
  transition: all 0.9s ease-in-out;
}
.singleprogramme:hover {
  border: solid #ff0000 0.2rem;
  
}
.singleprogramme:active {
  transform: scale(0.3);
}

.detail{
  margin-bottom: 1.3rem;
}

.trainer{
  height: 3rem;
  
border-top:3px solid red ;
margin-top: .5rem;
}





















.title {
  border-bottom: solid #ff0000 0.3rem;
  width: 23rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4rem;
}

.btn{
    padding: 20px;
    background: red;
    color: white;
    border: 1px solid #000;
    cursor: pointer;
    transition: 0.5s all ease-in-out;

}
.btn:hover{
    background: black;
    color: rgb(167, 0, 0);
    border:solid 5px #ff0000;


}
