.big1 {
  display: flex;
  
  flex-direction: column;
  width: 100%;
  height: 440vh;
  background-image: url('https://previews.123rf.com/images/eireen/eireen1510/eireen151000010/47671172-vector-grunge-illustration-de-la-main-avec-halt%C3%A8res-et-expression-de-motivation-no-pain-no-gain-fitn.jpg');
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.carousel {
 
  height: 40rem;
  margin-top: 7rem;
  display: flex;
  align-items: center;
  border-radius: 15rem;
}



.texteffect {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: red;
  text-align: center;
  display: flex;

  align-items: center;
  height: 30rem;

  background-image: url(https://img.freepik.com/photos-gratuite/jeune-homme-remise-forme-studio_7502-5008.jpg?w=2000);
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
}


/*pour teste fullpage*/
.moh{
    height:50rem;
    background-color: aqua;
}


.h3 {
    font-size: 5em;
    text-align: center;
    color: #fff;
    font-weight: 700;
  }
  
  #section1 {
    color: #fff;
  }
  
  .fp-section {
    text-align: center;
  }
  
.button {
    padding: 0.93em 1.87em;
    background: #35495e;
    border-radius: 5px;
    border-color: transparent;
    display: block;
    color: #fff;
    margin: 0 auto;
    cursor: pointer;
    font-size: 0.85em;
  }
  
  /*pournous*/
.pourquoinous{
background-color: blueviolet;
height: 35rem;
display: flex;
align-items: center;
justify-content: flex-start;
gap: .5rem;


}
.det{
  margin-left: 4rem;

background-color: antiquewhite;
height: 12rem;
width: 25rem;


}





